.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(24, 24, 24);
  justify-content: space-around;
  margin: 4em;
  height: 85vh;
}

.title-2 {
  font-size: 4em;
  color: aliceblue;
}

.counterNumber {
  color: aliceblue;
  font-size: 10em;
  padding: 0%;
}

.button {
  background-color: crimson;
  padding: 2em;
  margin: 1em;
}
